In [274]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import cross_val_score
from nltk.tokenize import word_tokenize,sent_tokenize
from sklearn.feature_extraction.text import CountVectorizer

In [275]:
train_data = pd.read_table('Data/training_set_rel3.tsv',encoding = "ISO-8859-1")

In [276]:
train_data.head(1)

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4,4,NaN,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [277]:
train_data_except_set2 = train_data.loc[train_data.essay_set != 2,['essay_set','essay','domain1_score']]

In [278]:
train_data_except_set2.columns = ['essay_set','essay','score']

In [279]:
train_data_set2_1 = train_data.loc[train_data['essay_set'] == 2 ,['essay_set','essay','domain1_score']]

In [280]:
train_data_set2_1['essay_set'] = "2_1"

In [281]:
train_data_set2_1.columns = ['essay_set','essay','score']

In [282]:
train_data_set2_2 = train_data.loc[train_data['essay_set'] == 2 ,['essay_set','essay','domain2_score']]

In [283]:
train_data_set2_2['essay_set'] = "2_2"

In [284]:
train_data_set2_2.columns = ['essay_set','essay','score']

In [285]:
train_data_except_set2.head(1)

   essay_set                                              essay  score
0          1  Dear local newspaper, I think effects computer...      8

In [286]:
train_data_set2_2.head(1)

     essay_set                                              essay  score
1783       2_2  Certain materials being removed from libraries...    4.0

In [287]:
train_data_set2_2.head(1)

     essay_set                                              essay  score
1783       2_2  Certain materials being removed from libraries...    4.0

In [288]:
train_data_format = pd.concat([train_data_except_set2,train_data_set2_2,train_data_set2_2])

In [289]:
train_data_format.shape

(14776, 3)

In [290]:
def get_distinct_word_count(text):
    word_list = word_tokenize(text)
    return len(set(word_list))

In [256]:
def get_word_count_token(text):
    word_list = word_tokenize(text)
    return len(word_list)

In [257]:
def get_sentence_count(text):
    sent_list = sent_tokenize(text)
    return len(sent_list)

In [258]:
import re
def get_character_count(text):
    return len(text)

def get_word_count(text):
    return len(re.findall(r"\s", text))+1

In [259]:
train_data_format['length'] = train_data_format['essay'].apply(get_character_count)
train_data_format['word_count'] = train_data_format['essay'].apply(get_word_count)

In [260]:
train_data_format['distinct_word'] = train_data_format['essay'].apply(get_distinct_word_count)

In [261]:
train_data_format['sentence_count'] = train_data_format['essay'].apply(get_sentence_count)

In [262]:
train_data_format.head(5)

,essay_set,essay,score,length,word_count,distinct_word,sentence_count
0,1,"Dear local newspaper, I think effects computer...",8.0,1875,338,181,16
1,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",9.0,2288,419,209,20
2,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",7.0,1541,279,161,14
3,1,"Dear Local Newspaper, @CAPS1 I have found that...",10.0,3165,524,267,27
4,1,"Dear @LOCATION1, I know having computers has a...",8.0,2569,465,211,30

In [292]:
test_data = pd.read_table('Data/valid_set.tsv',encoding = "ISO-8859-1")

In [293]:
test_data.head(1)

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN

In [294]:
test_data_except_set2 = test_data.loc[test_data.essay_set != 2,['essay_set','essay','domain1_predictionid']]
test_data_except_set2.columns = ['essay_set','essay','predictionid']
test_data_set2_1 = test_data.loc[test_data['essay_set'] == 2 ,['essay_set','essay','domain1_predictionid']]
test_data_set2_1['essay_set'] = "2_1"
test_data_set2_1.columns = ['essay_set','essay','predictionid']
test_data_set2_2 = test_data.loc[test_data['essay_set'] == 2 ,['essay_set','essay','domain2_predictionid']]
test_data_set2_2['essay_set'] = "2_2"
test_data_set2_2.columns = ['essay_set','essay','predictionid']

In [295]:
test_data_set2_2.columns

Index([u'essay_set', u'essay', u'predictionid'], dtype='object')

In [329]:
test_data_except_set2.head(10)

In [332]:
test_data_set2_1.head(10)

In [335]:
test_data_set2_2.head(10)

In [336]:
test_data_format = pd.concat([test_data_except_set2,test_data_set2_1,test_data_set2_2])

In [339]:
train_data_format.head(1)

  essay_set                                              essay  score
0         1  Dear local newspaper, I think effects computer...    8.0

In [407]:
test_data_format.head()

  essay_set                                              essay  predictionid
0         1  Dear @ORGANIZATION1, @CAPS1 more and more peop...        1788.0
1         1  Dear @LOCATION1 Time @CAPS1 me tell you what I...        1789.0
2         1  Dear Local newspaper, Have you been spending a...        1790.0
3         1  Dear Readers, @CAPS1 you imagine how life woul...        1791.0
4         1  Dear newspaper, I strongly believe that comput...        1792.0

In [362]:
X = train_data_format['essay']

In [365]:
y = train_data_format['score']

In [437]:
sort_by_id = test_data_format.sort_values(by=['predictionid'], axis=0,inplace=True)

In [422]:
X_test = test_data_format['essay']

In [423]:
test_data_format.shape
print X.head(1)
print y.head(1)

0    Dear local newspaper, I think effects computer...
Name: essay, dtype: object
0    8.0
Name: score, dtype: float64

In [368]:
vect = CountVectorizer()

In [369]:
vect.fit(X)

CountVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [424]:
vect_dtm = vect.transform(X)

In [425]:
vect_dtm

<14776x38218 sparse matrix of type '<type 'numpy.int64'>'
	with 1680808 stored elements in Compressed Sparse Row format>

In [388]:
randomRegressor = RandomForestRegressor(n_estimators=100)

In [389]:
%time randomRegressor.fit(vect_dtm,y)

CPU times: user 32min 31s, sys: 459 ms, total: 32min 31s
Wall time: 32min 32s

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [426]:
test_vect_dtm = vect.transform(X_test)

In [427]:
test_vect_dtm

<4818x38218 sparse matrix of type '<type 'numpy.int64'>'
	with 544400 stored elements in Compressed Sparse Row format>

In [428]:
%time y_pred_class = randomRegressor.predict(test_vect_dtm)

CPU times: user 597 ms, sys: 1e+03 ns, total: 597 ms
Wall time: 597 ms

In [435]:
y_pred_class_round = [int(i) for i in y_pred_class]
predictionid_list =  [ int(id) for id in test_data_format['predictionid']]

In [436]:
pd.DataFrame({'prediction_id':predictionid_list,'predicted_score':y_pred_class_round}).to_csv('Output/submission_2.csv',columns=['prediction_id','predicted_score'],index=False)